name: HACS Action

on:
    workflow_run:
        workflows: ["Validate"]
        types:
            - completed
        branches:
            - main
    pull_request:

jobs:
    validate:
        if: ${{ github.event_name == 'pull_request' || (github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push') }}
        runs-on: "ubuntu-latest"
        steps:
            - uses: "actions/checkout@v4"
            - name: HACS validation
              uses: "hacs/action@main"
              with:
                  category: integration
                  ignore: "brands"
